@page
@using WebApplication1.HtmlHelpers;
@using ApiDtoLibrary.Person
@model WebApplication1.Pages.ShowResults.ShowProfessorsModel
@{
    ViewData["Title"] = "Professors";
}

@section styles{
    <link rel="Stylesheet" href="~/css/listWithSearch.css" />
}

<div class="table-container">
    <h1>Professors</h1>
    <input type="search" id="searchbar" placeholder="Search.." name="query">
    <table class="table" id="searchTable">
        <tr>
            <th>
                Name
            </th>
            <th>
                ID
            </th>
            <th></th>
        </tr>

        @foreach (var professor in Model.ProfessorsToShow)
        {
            <tr>
                <td>
                    @professor.ToString()
                </td>
                <td>
                    @professor.IdCode
                </td>
                <td>
                    @Html.CreateEditLinkForPerson(PersonStatus.Professor, professor.EntityPersonID) |
                    @Html.CreateDetailsLinkForPerson(PersonStatus.Professor, professor.EntityPersonID) |
                    <a asp-page="/ShowResults/ShowProfessors" asp-page-handler="delete" asp-route-id="@professor.EntityPersonID">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/listWithSearch.js"></script>
}
