@page "{index}"
@model WebApplication1.Pages.ShowResults.ShowStudentModel
@{
    ViewData["Title"] = "Student";
}

<h1>@Model.StudentToShow.PersonalData.FirstName @Model.StudentToShow.PersonalData.LastName</h1>
<br />

<h2>Personal data: </h2>
@await Html.PartialAsync("_ShowPersonPartial", Model.StudentToShow.PersonalData)

<h2>Student data: </h2>
<table class="table">
    <tr>
        <td>
            Index
        </td>
        <td>
            @Model.StudentToShow.Index
        </td>
    </tr>
    <tr>
        <td>
            Beginning of studies
        </td>
        <td>
            @Model.StudentToShow.BeginningOfStudying.ToShortDateString()
        </td>
    </tr>
</table>

<br />
<p><b>Student's courses (number of courses: @Model.StudentToShow.Courses.Count())</b></p>
<br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Code
        </th>
        <th></th>
    </tr>



    @foreach (var course in Model.StudentToShow.Courses)
    {
        <tr>
            <td>
                @course.Name
            </td>
            <td>
                @course.CourseCode
            </td>
            <td>
                @*<a asp-page="/EditElement/EditCourse" asp-route-id="@course.EntityCourseID">Edit</a> |*@
                <a asp-page="/ShowResults/ShowCourse" asp-route-id="@course.EntityCourseID">Details</a>
                @*| <a asp-page="/ShowResults/ShowStudent" asp-page-handler="delete" asp-route-id="@Model.StudentToShow.EntityPersonId" asp-route-id="@course.CourseCode">Delete</a>*@
            </td>
        </tr>
    }
</table>
