@page "{id}"
@model WebApplication1.Pages.ShowResults.ProfessorToShowModel
@{
    ViewData["Title"] = "Professor";
}

<h1>@Model.ProfessorToShow.PersonalData.FirstName @Model.ProfessorToShow.PersonalData.LastName</h1>
<br />

<h2>Personal data: </h2>
@await Html.PartialAsync("_ShowPersonPartial", Model.ProfessorToShow.PersonalData)

<h1>Professor data: </h1>
<table class="table">
    <tr>
        <td>
            Id code
        </td>
        <td>
            @Model.ProfessorToShow.IdCode
        </td>
    </tr>
    <tr>
        <td>
            Subject
        </td>
        <td>
            @Model.ProfessorToShow.Subject
        </td>
    </tr>
    <tr>
        <td>
            First day at job
        </td>
        <td>
            @Model.ProfessorToShow.FirstDayAtJob.ToShortDateString()
        </td>
    </tr>
    <tr>
        <td>
            Salary
        </td>
        <td>
            @Model.ProfessorToShow.Salary
        </td>
    </tr>
</table> 
