@page
@model WebApplication1.Pages.ShowResults.ShowCoursesModel
@{
    ViewData["Title"] = "Courses";
}

@section styles{
    <link rel="Stylesheet" href="~/css/listWithSearch_v2.css" />
}

<div class="table-container">
    <h1>Courses</h1>
    <input type="search" id="searchbar" placeholder="Search.." name="query">
    <table class="main-table" id="searchTable">
        <tr>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th></th>
        </tr>

        @foreach (var course in Model.CreatedCourses)
        {
            <tr>
                <td>
                    @course.Name
                </td>
                <td>
                    @course.CourseCode
                </td>
                <td>
                    <a asp-page="/EditElement/EditCourse" asp-route-id="@course.EntityCourseID">Edit</a> |
                    <a asp-page="/ShowResults/ShowCourse" asp-route-id="@course.EntityCourseID">Details</a> |
                    <a asp-page="/Grades/CourseGrades" asp-route-courseId="@course.EntityCourseID">Grades</a> |
                    <a asp-page="/ShowResults/ShowCourses" asp-page-handler="delete" asp-route-id="@course.EntityCourseID">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/listWithSearch.js"></script>
}
