@page "{courseCode}"
@model WebApplication1.Pages.ShowResults.ShowCourseModel
@{
    ViewData["Title"] = "Course";
}

<h1>@Model.CourseToShow.Name</h1>
<br />

<table class="table">
    <tr>
        <td>
            Name
        </td>
        <td>
            @Model.CourseToShow.Name
        </td>
    </tr>
    <tr>
        <td>
            Code
        </td>
        <td>
            @Model.CourseToShow.CourseCode
        </td>
    </tr>
    <tr>
        <td>
            Professor
        </td>
        <td>
            @Model.CourseToShow.Professor?.ToString()
        </td>
    </tr>
    <tr>
        <td>
            Students enrolled
        </td>
        <td>
            @Model.CourseToShow.EnrolledStudents.Count()
        </td>
    </tr>
    <tr>
        <td>
            ECTS
        </td>
        <td>
            @Model.CourseToShow.ECTS
        </td>
    </tr>
    <tr>
        <td>
            Is finished with exam?
        </td>
        <td>
            @Model.CourseToShow.IsFinishedWithExam
        </td>
    </tr>
</table>

@if(Model.HasAdminRights) {
    <br />
    <p><b>Enrolled students:</b></p>
    <br />

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Index
            </th>
            <th></th>
        </tr>



        @foreach (var student in Model.CourseToShow.EnrolledStudents)
        {
            <tr>
                <td>
                    @student.ToString()
                </td>
                <td>
                    @student.Index
                </td>
                <td>
                    <a asp-page="/ShowResults/ShowStudent" asp-route-index="@student.Index">Details</a>
                </td>
            </tr>
        }
    </table>
}
