@model PartialModels.StudentPartialModel


<div class="single-result">
    @await Html.PartialAsync("_ShowPersonPartial", Model.Student.PersonalData)
    <div class="key-value-result">
        <h2>Index</h2>
        <h4>@Model.Student.Index</h4>
    </div>
    <div class="key-value-result">
        <h2>Beginning of studies</h2>
        <h4>@Model.Student.BeginningOfStudying.ToShortDateString()</h4>
    </div>
    @if (Model.ShowCourses)
    {
        <div class="key-table-result">
            <h2>Student's courses (number of courses: @Model.Student.Courses.Count())</h2>
            <div class="table-container">
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th></th>
                    </tr>



                    @foreach (var course in Model.Student.Courses)
                    {
                        <tr>
                            <td>
                                @course.Name
                            </td>
                            <td>
                                @course.CourseCode
                            </td>
                            <td>
                                <a asp-page="/ShowResults/ShowCourse" asp-route-id="@course.EntityCourseID">Details</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>
    }
</div>
