@model Services.People.PersonalData

<h1>@Model.FirstName @Model.LastName</h1>
<div class="key-value-result">
    <h2>First name</h2>
    <h4>@Model.FirstName</h4>
</div>
<div class="key-value-result">
    <h2>Last name</h2>
    <h4>@Model.LastName</h4>
</div>
<div class="key-value-result">
    <h2>PESEL</h2>
    <h4>@Model.PESEL</h4>
</div>
<div class="key-value-result">
    <h2>Birthday</h2>
    <h4>@Model.Birthday.ToShortDateString()</h4>
</div>
<div class="key-value-result">
    <h2>Motherland</h2>
    <h4>@Model.Motherland</h4>
</div>