<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("styles", false)
</head>
<body>
    <header class="top-header">
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/AfterLogin/Student">WebApplication1</a>
                <div class="navbar-elements">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AfterLogin/Student">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ShowResults/ShowStudent" asp-route-id="@User.FindFirst("EntityPersonId")?.Value">Show Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/EditElement/EditPerson/EditStudent" asp-route-id="@User.FindFirst("EntityPersonId")?.Value">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Grades/StudentGrades">Grades</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main class="main-flex">
        <div class="main-div">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="footer-container">
            &copy; @DateTime.Now.Year - WebApplication1 - Privacy
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
