@page
@model WebApplication1.Pages.AdminSearch.SearchProfessorsModel
@{
    ViewData["Title"] = "Search Professors";
}

<form method="post">

    <div class="form-group">
        <label asp-for="OrderOption" class="control-label"></label>
        <select asp-for="OrderOption"
                class="form-control"
                asp-items="Html.GetEnumSelectList<Queries.ProfessorOrderByOptions>()">
        </select>
        <span asp-validation-for="OrderOption" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="FilterOption" class="control-label"></label>
        <select asp-for="FilterOption"
                class="form-control"
                asp-items="Html.GetEnumSelectList<Queries.ProfessorFilterByOptions>()">
        </select>
        <span asp-validation-for="FilterOption" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="Filter"></label>
        <input class="form-control" asp-for="Filter" />
        <span asp-validation-for="Filter"></span>
    </div>

    <br />

    <div class="form-group">
        <button type="submit"
                class="btn btn-success">
            Search
        </button>
    </div>

</form>

<br />
<br />

@foreach (var professor in Model.ProfessorsToShow)
{
    <br />
    <h1>@professor.PersonalData.FirstName @professor.PersonalData.LastName</h1>
    <br />

    <h2>Personal data: </h2>
    @await Html.PartialAsync("_ShowPersonPartial", professor.PersonalData)

    <h1>Professor data: </h1>
    <table class="table">
        <tr>
            <td>
                Id code
            </td>
            <td>
                @professor.IdCode
            </td>
        </tr>
        <tr>
            <td>
                Subject
            </td>
            <td>
                @professor.Subject
            </td>
        </tr>
        <tr>
            <td>
                First day at job
            </td>
            <td>
                @professor.FirstDayAtJob.ToShortDateString()
            </td>
        </tr>
        <tr>
            <td>
                Salary
            </td>
            <td>
                @professor.Salary
            </td>
        </tr>
    </table>
}
