@page
@model WebApplication1.Pages.AdminSearch.SearchStudentsModel
@{
    Layout = "_AdminLayout";
	ViewData["Title"] = "Search Students";
}

@section styles{
    <link rel="Stylesheet" href="~/css/searchPage.css" />
}

<div class="outer-form-container">
    <form method="post">
        <div class="form-inputs">
            <div class="form-group">
                <label asp-for="OrderOption"></label>
                <select asp-for="OrderOption"
                        asp-items="Html.GetEnumSelectList<Extensions.StudentOrderByOptions>()">
                </select>
                <span asp-validation-for="OrderOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilterOption"></label>
                <select asp-for="FilterOption"
                        asp-items="Html.GetEnumSelectList<Extensions.StudentFilterByOptions>()">
                </select>
                <span asp-validation-for="FilterOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filter"></label>
                <input asp-for="Filter" />
                <span asp-validation-for="Filter"></span>
            </div>
        </div>
        <div class="form-group button-group">
            <button type="submit">
                Search
            </button>
        </div>
    </form>
</div>

<div class="search-results">
    @foreach (var student in Model.StudentsToShow)
    {
        <div class="single-search-result">
            <h1>@student.PersonalData.FirstName @student.PersonalData.LastName</h1>
            <div class="key-value-result">
                <h2>First name</h2>
                <h4>@student.PersonalData.FirstName</h4>
            </div>
            <div class="key-value-result">
                <h2>Last name</h2>
                <h4>@student.PersonalData.LastName</h4>
            </div>
            <div class="key-value-result">
                <h2>PESEL</h2>
                <h4>@student.PersonalData.PESEL</h4>
            </div>
            <div class="key-value-result">
                <h2>Birthday</h2>
                <h4>@student.PersonalData.Birthday.ToShortDateString()</h4>
            </div>
            <div class="key-value-result">
                <h2>Motherland</h2>
                <h4>@student.PersonalData.Motherland</h4>
            </div>
            <div class="key-value-result">
                <h2>Index</h2>
                <h4>@student.Index</h4>
            </div>
            <div class="key-value-result">
                <h2>Beginning of studies</h2>
                <h4>@student.BeginningOfStudying.ToShortDateString()</h4>
            </div>
        </div>
    }
</div>