@page
@model WebApplication1.Pages.AdminSearch.SearchProfessorsModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Search Professors";
}

@section styles{
    <link rel="Stylesheet" href="~/css/searchPage.css" />
}

<div class="outer-form-container">
    <form method="post">
        <div class="form-inputs">
            <div class="form-group">
                <label asp-for="OrderOption"></label>
                <select asp-for="OrderOption"
                        asp-items="Html.GetEnumSelectList<Extensions.ProfessorOrderByOptions>()">
                </select>
                <span asp-validation-for="OrderOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilterOption"></label>
                <select asp-for="FilterOption"
                        asp-items="Html.GetEnumSelectList<Extensions.ProfessorFilterByOptions>()">
                </select>
                <span asp-validation-for="FilterOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filter"></label>
                <input asp-for="Filter" />
                <span asp-validation-for="Filter"></span>
            </div>
        </div>
        <div class="form-group button-group">
            <button type="submit">
                Search
            </button>
        </div>
    </form>
</div>

<div class="search-results">
    @foreach (var professor in Model.ProfessorsToShow)
    {
        <div class="single-search-result">
            <h1>@professor.PersonalData.FirstName @professor.PersonalData.LastName</h1>
            <div class="key-value-result">
                <h2>First name</h2>
                <h4>@professor.PersonalData.FirstName</h4>
            </div>
            <div class="key-value-result">
                <h2>Last name</h2>
                <h4>@professor.PersonalData.LastName</h4>
            </div>
            <div class="key-value-result">
                <h2>PESEL</h2>
                <h4>@professor.PersonalData.PESEL</h4>
            </div>
            <div class="key-value-result">
                <h2>Birthday</h2>
                <h4>@professor.PersonalData.Birthday.ToShortDateString()</h4>
            </div>
            <div class="key-value-result">
                <h2>Motherland</h2>
                <h4>@professor.PersonalData.Motherland</h4>
            </div>
            <div class="key-value-result">
                <h2>Id code</h2>
                <h4>@professor.IdCode</h4>
            </div>
            <div class="key-value-result">
                <h2>Subject</h2>
                <h4>@professor.Subject</h4>
            </div>
            <div class="key-value-result">
                <h2>First day at job</h2>
                <h4>@professor.FirstDayAtJob.ToShortDateString()</h4>
            </div>
            <div class="key-value-result">
                <h2>Salary</h2>
                <h4>@professor.Salary</h4>
            </div>
        </div>
    }
</div>

