@page
@model WebApplication1.Pages.AdminSearch.SearchCoursesModel
@{
    ViewData["Title"] = "Search Courses";
}

<form method="post">

    <div class="form-group">
        <label asp-for="OrderOption" class="control-label"></label>
        <select asp-for="OrderOption"
                class="form-control"
                asp-items="Html.GetEnumSelectList<Extensions.CourseOrderByOptions>()">
        </select>
        <span asp-validation-for="OrderOption" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="FilterOption" class="control-label"></label>
        <select asp-for="FilterOption"
                class="form-control"
                asp-items="Html.GetEnumSelectList<Extensions.CourseFilterByOptions>()">
        </select>
        <span asp-validation-for="FilterOption" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="Filter"></label>
        <input class="form-control" asp-for="Filter" />
        <span asp-validation-for="Filter"></span>
    </div>

    <br />

    <div class="form-group">
        <button type="submit"
                class="btn btn-success">
            Search
        </button>
    </div>

</form>

<br />
<br />

@foreach (var course in Model.CoursesToShow)
{
    <br />
    <h1>@course.Name</h1>
    <br />

    <table class="table">
        <tr>
            <td>
                Name
            </td>
            <td>
                @course.Name
            </td>
        </tr>
        <tr>
            <td>
                Code
            </td>
            <td>
                @course.CourseCode
            </td>
        </tr>
        <tr>
            <td>
                Professor
            </td>
            <td>
                @course.Professor?.ToString()
            </td>
        </tr>
        <tr>
            <td>
                Students enrolled
            </td>
            <td>
                @course.Students.Count()
            </td>
        </tr>
        <tr>
            <td>
                ECTS
            </td>
            <td>
                @course.ECTS
            </td>
        </tr>
        <tr>
            <td>
                Is finished with exam?
            </td>
            <td>
                @course.IsFinishedWithExam
            </td>
        </tr>
    </table>
}