@page
@model WebApplication1.Pages.AdminSearch.SearchCoursesModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Search Courses";
}

@section styles{
    <link rel="Stylesheet" href="~/css/searchPage.css" />
}

<div class="outer-form-container">
    <form method="post">
        <div class="form-inputs">
            <div class="form-group">
                <label asp-for="OrderOption"></label>
                <select asp-for="OrderOption"
                        asp-items="Html.GetEnumSelectList<Extensions.CourseOrderByOptions>()">
                </select>
                <span asp-validation-for="OrderOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilterOption"></label>
                <select asp-for="FilterOption"
                        asp-items="Html.GetEnumSelectList<Extensions.CourseFilterByOptions>()">
                </select>
                <span asp-validation-for="FilterOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filter"></label>
                <input asp-for="Filter" />
                <span asp-validation-for="Filter"></span>
            </div>
        </div>
        <div class="form-group button-group">
            <button type="submit">
                Search
            </button>
        </div>
    </form>
</div>

<div class="search-results">
    @foreach (var course in Model.CoursesToShow)
    {
        <div class="single-search-result">
            <h1>@course.Name</h1>
            <div class="key-value-result">
                <h2>Name</h2>
                <h4>@course.Name</h4>
            </div>
            <div class="key-value-result">
                <h2>Code</h2>
                <h4> @course.CourseCode</h4>
            </div>
            <div class="key-value-result">
                <h2>Professor</h2>
                <h4>@course.Professor?.ToString()</h4>
            </div>
            <div class="key-value-result">
                <h2>Students enrolled</h2>
                <h4> @course.Students.Count()</h4>
            </div>
            <div class="key-value-result">
                <h2>ECTS</h2>
                <h4>@course.ECTS</h4>
            </div>
            <div class="key-value-result">
                <h2>Is finished with exam?</h2>
                <h4>@course.IsFinishedWithExam</h4>
            </div>
        </div>
    }
</div>
